@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
  
/* Customize html tags */
@layer base {
  body {
    @apply bg-secondary-900;
  }
  h1, h2, h3, h4, h5, h6, p {
    @apply text-primary-100;
  }
}

/* Custom CSS Variables */
/* Remember to use @apply to apply Tailwind syntax */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom CSS Classes made by you */
@layer components{
  .navBarBG{
    background-color: rgba(2,11,16,0.5)
  }
  .primaryGlow {
    @apply drop-shadow-[0_0px_50px_rgba(255,245,187,1.0)];
  }

  .homeH1 {
    @apply text-4xl;
  }

  .homep{
    @apply text-lg;
    @apply px-20;
    @apply leading-loose;
    @apply whitespace-pre-line
  }
  
  .gradientBG {
    @apply bg-gradient-to-b from-secondary-900 from-30% to-secondary-800;
  }
}
